textarea {
  margin-top: 10px;
  height: 350px;
  background-color: black;
  color: white;
}

.box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

#box2 {
    position: relative;
    left: 275px;
    top: -120px;
}

.box2Label {
    position: relative;
    left: 275px;
    top: -120px;
}

#box4 {
    position: relative;
    left: 275px;
    top: -120px;
}

.box4Label {
    position: relative;
    left: 275px;
    top: -120px;
}

.highlight {
    border: 2px solid red;
}

.learnHeader {
    background-color: lightgrey;
}

.instHeader {
    background-color: lightgrey;
}

.commands {
    background-color: lightgrey;
}

.github {
    height: 50px;
    position: relative;
    left: 165px;
}

#error {
    color: red;
}

#visualize {
    margin-top: 10px;
}

.brand-logo {
    margin-left: 10px;
}

#help {
    border: 1px solid white;
    height: 40px;
    width: 40px;
    line-height: 40px;
     -moz-border-radius: 30px;
    border-radius: 30px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 2em;
}

.cardImg {
    width: 50% !important;
    margin: auto;
}

// /* The console container element */
//     #console {
//       position: absolute;
//       width: 400px;
//       height: 500px;
//       background-color:black;
//     }
//     /* The inner console element. */
//     .jqconsole {
//         padding: 10px;
//     }
//     /* The cursor. */
//     .jqconsole-cursor {
//         background-color: gray;
//     }
//     /* The cursor color when the console looses focus. */
//     .jqconsole-blurred .jqconsole-cursor {
//         background-color: #666;
//     }
//     The current prompt text color
//     .jqconsole-prompt {
//         color: #0d0;
//     }
//     /* The command history */
//     .jqconsole-old-prompt {
//         color: #0b0;
//         font-weight: normal;
//     }
//     /* The text color when in input mode. */
//     .jqconsole-input {
//         color: #dd0;
//     }
//     /* Previously entered input. */
//     .jqconsole-old-input {
//         color: #bb0;
//         font-weight: normal;
//     }
//     /* The text color of the output. */
//     .jqconsole-output {
//         color: white;
//     }
