body, html {
    min-height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #152B39 !important;
}

.exerciseNav, footer {
    background-color: #152B39 !important;
}

.exerciseNavText {
    color: white;
    font-size: 1.5rem !important;
}

.exerciseNavLogo {
    color: white;
}

footer {
    font-size: 1.25em;
    padding: 15px !important;
}

textarea {
  margin-top: 10px;
  height: 450px;
  background-color: black;
  color: white;
}

/* Splash Page */

.allCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lightgrey;
}

.splashCards {
    height: 29rem;
    width: 26%;
    margin: 1%;
}

.splashHeaderText {
    color: #204056 !important;
}

.splashNav {
    background-color: white !important;
}

.cardTitle {
    color: #204056;
    font-size: 1.75rem;
    line-height: 2rem;
}

.cardDescription {
    color: #76787B;
    font-size: 1.1rem;
    margin-top: 5px;
}

.cardBackground {
    background-color: #204056;
    height: 12.5rem;
}

.cardImg {
    width: 55% !important;
    margin-left: 25%;
}

.beginExercise {
    font-size: 1.3rem !important;
    margin-top: 25px !important
}

// label {
//     background-color: lightgrey;
//     border: 0;
// }

.row {
    margin-bottom: 0;
}

.indent {
    text-indent: 50px;
}

.mainBackground {
    background-color: #354551;
}

/* Terminal */

#userText {
    background-color: black;
    color: white;
}

#addTerminalText {
    background-color: black;
    color: white;
}

#terminal {
    background-color: black;
    color: white;
    margin-top: 16px;
}

/* Branches Area */

.branchEmpty {
    color: lightgrey;
}

#lbName {
    position: relative;
    left: 293px;
    bottom: 205px;
}

#lbName2 {
    position: relative;
    left: 293px;
    bottom: 205px;
}

#lmName {
    position: relative;
    left: 29px;
    bottom: 42px;
}

#lmName2 {
    position: relative;
    left: 29px;
    bottom: 42px;
}

/* Visualization Area */

.box {
    height: 100px;
    width: 100px;
    content:url('../images/folder.png');
}

#gb {
    position: relative;
    left: 275px;
    top: -120px;
}

.gbLabel {
    position: relative;
    left: 275px;
    top: -120px;
    color: #204056;
}

#gm {
    position: relative;
    left: 15px;
}

.gmLabel {
    color: #204056;
    position: relative;
    left: 15px;
}

#lm {
    position: relative;
    left: 15px;
    bottom: 50px;
}

.lmLabel {
    color: #204056;
    position: relative;
    left: 15px;
    bottom: 50px;
}

#lb {
    position: relative;
    left: 275px;
    top: -212px;
}

.lbLabel {
    position: relative;
    left: 275px;
    top: -214px;
    color: #204056;
}

.highlight {
    background-color: #204056;
    transition: transform 1s;
    border-radius: 20px;
    content:url('../images/openFolder.png');
}

.github {
    height: 50px;
    position: relative;
    left: 165px;
    margin-top: 5px;
}

.apple {
    height: 50px;
    position: relative;
    top: -165px;
    left: 97px;
}

.linux {
    height: 50px;
    position: relative;
    top: -165px;
    left: 106px;
}

.windows {
    height: 50px;
    position: relative;
    top: -165px;
    left: 123px;
}

#visualize {
    height: 520px;
    background-color: #d4d5d6;
}

.card-image {
    padding: 10px 0;
    height: 250px;
}

/* Learn / Instructions Area */

.note {
    font-style: italic;
}

#instructText {
    overflow-y: auto;
    height: 520px;
    background-color: white;
    padding: 0;
}

.instText {
    padding: 1.875rem;
}

.according-container {
    position: absolute;
}

.according-section {
    overflow-x: hidden;
}

.headerName {
    margin-top: 0;
}

.learnHeader {
    background-color: #d4d5d6;
    min-height: 40px;
    font-size: 16px;
    border-bottom: 1px solid #e9eaea;
    cursor: pointer;
    padding-left: 10px;
    color: #204056;
}

.learnHeader h5 {
    font-size: 1.7rem;
}

#learn {
    padding: 1.875rem;
}

.material-icons {
    line-height: 40px;
    vertical-align: center;
}

.instHeader {
    background-color: #d4d5d6;
    min-height: 40px;
    font-size: 16px;
    border-bottom: 1px solid #e9eaea;
    cursor: pointer;
    padding-left: 10px;
    color: #204056;
}

.command {
    background-color: #354551;;
    color: white;
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 5px;
    text-align: center;
}

#error {
    color: red;
}

.brand-logo {
    margin-left: 10px;
}

/* Footer */

#backButton {
    background-color: #354551;
    padding: 10px 25px !important;
    cursor: pointer;
}

.pageCounter {
    padding: 10px 25px !important;
    cursor: pointer;
    margin: 0 45px;
}

#nextButton {
    background-color: #354551;
    padding: 10px 25px !important;
    cursor: pointer;
}

.grey-text {
    text-align: center !important;
}

.inactive {
    background-color: grey;
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}

.exerciseFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Help Button Styling */

#help {
    border: 1px solid white;
    height: 40px;
    width: 45px;
    line-height: 40px;
     -moz-border-radius: 30px;
    border-radius: 30px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 2em;
}

#help:hover {
    background: #EEE;
}

.dropdown-content {
    min-width: 250px !important;
    word-wrap: break-word !important;
}

.dropdown-content li a {
    text-align: center;
    color: #204056;
}

.animate-show {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    opacity: 1;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    display: inline-block !important;
}

.animate-show.ng-hide {
    opacity: 0;
}

.showHint {
    color: black;
}

ul li span {
    display: none;
}

ul li:hover span {
    display: flex;
}
