<div ng-controller="SplashCtrl">
    <div class="row">
      <div ng-repeat="item in instructions" class="card col s4">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator cardImg" src="images/github.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{item.name}}<i class="material-icons right">more_vert</i></span>
          <span class="card-title activator grey-text text-darken-4">{{item.title}}</span>
          <p><a href="#!/exercises/{{item.id}}" data-target="exercise--{{item.name}}">Begin Exercise</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{item.title}}<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>
</div>
