<div ng-controller="SplashCtrl">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Get Git</a>
            <a href="#" class="brand-logo center">Choose An Exercise</a>
        </div>
    </nav>

    <div class="row">
        <div class="card col s3 splashCards">
            <div class="card-image waves-effect waves-block waves-light">
                <img src="images/readme.png" class="activator cardImg" lass="#/" data-target="readmeModal" modal>
            </div>
        </div>
        <div ng-repeat="item in instructions" class="card col s3 splashCards">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator cardImg" src="{{item.image}}">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{item.name}}<i class="material-icons right">more_vert</i></span>
                <span class="card-title activator grey-text text-darken-4">{{item.title}}</span>
                <p><a href="#!/exercises/{{item.id}}" data-target="exercise--{{item.name}}">Begin Exercise</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{item.title}}<i class="material-icons right">close</i></span>
                <p>{{item.description}}</p>
            </div>
        </div>
    </div>

        <!-- Modal Structure -->
        <div id="readmeModal" class="modal">
            <div class="modal-content">
                <h4>What Is Git?</h4>
                <p class="indent">As software developers, we use git when working on projects with teammates and making our projects available on Github. Git tracks changes to our files and allows for easy collaboration between multiple users. Additionally, it allows us to continually save drafts of our project. If you ever make some changes and need to revert back to a previous version, git will be your best friend.</p>
                <p class="indent">In this series of tutorial, you will learn the path that is working with your local files and files stored in GitHub. To begin, and for the sake of explanation, we will jump around a bit. Notice the folder labeled Github Master (top left hand corner). This folder is your project that is available to the public (or private guests) at all times. Additionally, as you and your team continually update your project, this is where the newly updated version of your project will be stored. As you might expect, we want to be sure to only place what you want others to see on the Github Master. Any careless changes would impact the entire project!</p>
                <p class="indent">Next, notice the folder labeled Local Master. This will always serve as our starting point on our path towards using git. After all, anything that we store on Github had to built on our computer first. The Local Master is where it all begins. This master version will be worked on only when creating your initial files and folders. As I mentioned previously, the Github Master is the one shared by you and your teammates, so it will be critical to keep a copy of this master version on your computer. In this case, that’s what the Local Master is for. It keeps a master copy of what is available on Github on your local machine. That way, we can be sure to be working on the most up to date version of our project at all times. If we fail to do so, we may end up working on files that are out of date and this will create problems down the road when you try to add in your new code that contains old code people have already removed.</p>
                <p class="indent">If you only work by yourself, you could theoretically get by with just using Github Master and Local Master. Once you make changes you are happy with, you can immediately push them up the Github Master for the world to see. But, as we mentioned before, git allows us to work on projects with a team of developers, not to mention the ability to go to back to previous drafts of our project. This brings in the term “branching.” Using a branch serves a variety of useful purposes: checking for any conflicts that might accidentally override something on the master, sharing your proposed changes with your teammates, testing your code on a teammates machine, working on one task at a time to stay organized, etc.</p>
                <p class="indent">Let’s check out the folder labeled Local Branch. As mentioned before, a “branch” allows us to work on our project without fear of overriding our public version of the project. It makes a duplicate of the Local Master and allows us to get started on expanding our project, without fear of messing up all of our previous hard work. It is the location where, after all of your files and folders are in place, you will always work on your project. It’s much like a branch off of a tree. It is attached to the tree, but the tree will not die if a branch is trimmed or even removed. We can make all the changes and additions to our project we want without affecting our master version. Additionally, the Github Branch is where your teammates will be able to actually see your proposed changes and test them out for themselves on their local computer.</p>
                <p class="indent">Lastly, let’s check out Github Branch. As you might suspect, this will simply serve as a copy of our local branch, but it will be used to allow our teammates to take a look at our proposed changes to the project. This is where your team can test your code and make sure it works on their computer, before merging it with the Github Master.</p>
                <p class="indent">Working with the Github workflow is a like running the bases on a baseball diamond. Local Master is home base and we will always follow the same pattern. You can’t run directly from 1st to 3rd base, you’d be out immediately! We will get our files up in running in the Local Master (home base), work on updates and changes in our Local Branch (first base), push up those changes for our teammates to review in Github Branch (2nd base), merge those changes without Github Master (3rd base), and finally pull down the branch new Github Master into our Local Master (home run). Notice, jumping from Local Branch to Github Master was never mentioned, why? That would take our proposed changes and immediately merge them with our public Github Master. If there was any sort of problems that we missed, you could imagine, that would create some problems. The order in which we move is crucial.</p>
                <p>Alright, let's get started!</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
            </div>
        </div>
    </div>
</div>
