<div ng-controller="SquareCtrl">

    <div id="instructions" class="col-md-3">
        <div class="learnHeader">
            <h3>Learn</h3>
        </div>
        <div class="learnText">
            <p>In this exercise, we will learn the one way street that is workign with your local files and files stored in GitHub.</p>
        </div>

        <div class="instHeader">
            <h3>Instructions</h3>
        </div>
        <div class="instText">
            <p>1) Let's first start by making a branch off of your master. Type in </p>
            <p class="commands">git checkout -b myBranch</p>
            <p> to create a new branch and immediately begin working in that new branch</p>
        </div>
    </div>

    <div id="terminal" class="col-md-3">
        <textarea rows="4" cols="35" id="userText"></textarea>
        <button type="button" id="userSubmit">Test</button>
        <div id="error"></div>
    </div>

    <div id="visualize" class="col-md-6">
        <img class="github" src="images/github.png">

        <div class="box1Label">GitHub Master</div>
        <div class="box" id="box1"></div>

        <div class="box2Label">GitHub Branch</div>
        <div class="box" id="box2"></div>

        <div class="box3Label">Local Master</div>
        <div class="box" id="box3"></div>

        <div class="box4Label">Local Branch</div>
        <div class="box" id="box4"></div>
    </div>

</div>
